<!DOCTYPE html>
<html>
<head>
  <title>Alamaana</title>
 <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</head>
<body>
	  <!--<nav class="navbar navbar-fixed-top navbar-inverse">
	    <div class="container">
	      <div class="navbar-header">
	        <%= link_to (image_tag("logo.JPG", class: "logo")), root_path %>
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	       
	      </div>
	      <div id="navbar" class="collapse navbar-collapse">
	        <ul class="nav navbar-nav pull-right">
	          <li role="presentation" class="active"><a href="https://www.paypal.com/fr/cgi-bin/webscr?cmd=_flow&SESSION=bKyDUXhA1md6dIeDO9xLLoq3jjDLbXLBJcjF1lHALO_h6O9JMlz7HFdatim&dispatch=5885d80a13c0db1f8e263663d3faee8de6030e9239419d79c3f52f70a3ed57ec">Faire un don</a></li>
              <li role="presentation" class="linkabout"><%= link_to "A propos",  about_path %></li>
	          </ul>
	      </div><!-- /.nav-collapse -->
	    </div><!-- /.container -->
	  </nav>
	 
		<%= yield %>
	  </div>
</body>
</html>
